:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}
.sideNav {
  display: flex;
  flex-direction: column;
  background: white;
  width: 15%;
  height: 100%;
  padding: 2vh 2vw;
  border-radius: 10px;
  box-shadow: -1px 1px 11px 4px lightgray;
}
.sidelist {
  width: 100%;
  height: 100%;
}
.sideNav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  width: 100%;
  padding: 10%;
  cursor: pointer;
  border-radius: 6px;
}
.sidenav-logo {
  height: 60%;
  width: 20%;
  flex-grow: 1;
  margin-right: 1vw;
}
.sideNav-items:hover {
  background-color: var(--grey);
}
.text-decoration-none {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}
