.t-attendence-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11% 10%;
  overflow: hidden;
}
.t-attendence {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.t-attendence-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.t-attendence-container {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.t-attendence-container {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.t-attendence-container {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 60vw;
  height: 90vh;
  border-radius: 12px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background: white;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}
.info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-box-lines {
  width: 70dvw;
  display: flex;
  font-size: 2dvh;
  justify-content: center;
  align-items: center;
}
.a-heading {
  margin-right: 3%;
  color: var(--dark);
}
.a-subheading {
  color: gray;
}
.attend-btn-p,
.attend-btn-a {
  width: 50%;
  padding: 2%;
  border: none;
  color: white;
}
.attend-btn-p {
  border-bottom-left-radius: 12px;
  background-color: rgb(41, 201, 41);
}
.attend-btn-a {
  border-bottom-right-radius: 12px;
  background-color: red;
}
.fa-box {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
/* @media (width <= 1024) and (height <= 600) {
  .fa-box {
    height: 11%;
  }
} */
@media (width <= 860px) {
  .p-15 {
    padding: 15% 0;
  }
  .swiper {
    /* margin-top: 2dvh; */
    width: 75vw;
    height: 80vh;
    border-radius: 12px;
  }
  .fa-box {
    height: 8%;
  }
}
