:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}
.card {
  color: var(--dark);
  border-radius: 10px;
  border: 2px solid var(--grey);
  background: var(--light-blue);
  width: 20dvw;
  height: 35dvh;
  padding: 2dvh 2dvw;
}
.card-box,
.card-box-n {
  border-radius: 10px;
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 100%;
  height: 40%;
}
.card-box {
  border: 2px solid #00ba00;
}
.card-box-n {
  border: 2px solid #e21b1b;
}
.card-image {
  width: 6dvw;
  height: 10dvh;
  padding: 7%;
}
.card-subheading {
  color: #00ba00;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3dvh;
}
.card-heading {
  font-size: 3dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 860px) {
  .card {
    width: 100%;
    height: 31dvh;
    padding: 6%;
  }
  .card-image {
    width: 23dvw;
    height: 10dvh;
    padding: 8%;
  }
}
